*.slx -crlf -diff -merge
*.mdl -crlf -diff -merge
*.mat -crlf -diff -merge
*.mlx -crlf -diff -merge

.gitignore export-ignore
.gitattributes export-ignore
/+DLS_Simscape export-ignore
initlib.m export-ignore
/dev export-ignore
/resources export-ignore
dls-simulink.prj export ignore